/* ------------------------------------------------------------
   Global Styles
-------------------------------------------------------------- */

body {
    padding-top: 70px;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

h2.title {
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 35px;
    border-bottom: 1px solid #00698C;
}

/* -------------------------------------------------------------
   Nav Container
-------------------------------------------------------------- */

.nav-container {

}

.nav-container .navbar {
    margin-bottom: 0;

    background-color: #2d2d32;
    height: 70px;
}

.navbar-default {
    border-bottom: 0;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{
    color: #dfdfdf;
}

.navbar .navbar-brand span {
    font-size: 26px;
    font-weight: 600;
}

.navbar .navbar-brand em {
    padding-left: 15px;
    font-size: 14px;

    vertical-align: middle;
}

.navbar-nav .login-form-container {
    display: none;
    position: absolute;

    right: 0;
    width: 480px;

    background-color: #393939;
    padding: 25px;

    color: #efefef;
}

.navbar-nav li:hover {
    background-color: #393939;
}

.nav>li>a {
    padding-left: 20px;
    padding-right: 20px;
}

@media( min-width: 768px ) {
    .navbar-nav>li>a,
    .navbar-brand {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .navbar-nav .login-form {
        position: relative;
    }

    .navbar-nav .login-form:hover .login-form-container {
        display: block;
    }
}

/* -------------------------------------------------------------
   Search Container
-------------------------------------------------------------- */

.search-container {
    background-color: #00698C;
}

.search-container #search-form {
    margin-top: 23px;
}

.search-container #search-form .help-block {
    margin-top: 10px;
    color: white;
}

/* --------------------------------------------------------------
   Content Container
--------------------------------------------------------------- */


/* --------------------------------------------------------------
   Footer Container
--------------------------------------------------------------- */

.footer-container {
    padding-top: 20px;
    background-color: #2d2d32;
}

.footer-container a {
    display: block;
    color: #efefef;
    margin-bottom: 5px;
}

/* ---------------------------------------------------------------
   Sticky Footer Styles
---------------------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
}

.footer-container {
    width: 100%;
    height: 80px;

    position: absolute;
    bottom: 0;
}

/* ---------------------------------------------------------------
   Form CSS
---------------------------------------------------------------- */

.input-group-addon {
    min-width: 60px;
}

form.form label {
    font-weight: 300;
}